aws-requests-auth==0.4.3
boto3==1.26.92
pandas==1.5.3
numpy==1.24.2
openpyxl==3.1.1
requests==2.28.2
styleframe==4.1
dash==2.9.1
pydantic>=1.10.6
dash-bootstrap-components>=1.4.0
pydantic-computed>=0.2.1
typing_extensions==4.3.0
